body {
  font-family: Roboto, Arial, sans-serif;
  
}

.header-grid {
  display: grid;
  grid-template-columns: 250px 1fr 250px ;
  height: 200px;  
  border-bottom: #e8491d solid 4px;
}

.logo-space {
  background-color: lightblue;
}
.nav-space {
  background-color: lightpink;
}
.bible-space {
  background-color: aqua;
  font-size: 12px;
  width: 250px;

}
img {
  max-width: 250px;
  max-height: 200px;
}

.main-grid {
  display: grid;
  grid-template-columns: 280px 800px 1fr ;
  height: 600px;
  border-bottom: #e8491d solid 5px; 
}
.links {
  background-color: lightpink; 
    /* margin-left: 10px; 
    margin-top: 20px;   */
    
    text-align: center;     
}
.messages {
  margin-top: 0;
}
.main-parent {
  background-color: aqua;
  text-align: justify;  
}
.sideInfo {
  background-color: yellowgreen;
  
}

.other-info {
  background-color: rgb(145, 140, 150);
}

.footer {
  background-color: #e8491d;
  display: grid;
  grid-template-columns: 250px 1fr 50px;
  align-items: center;
  align-content: center;
  height: 40px;
  font-family: 'Times New Roman', Arial;
  font-size: 20px;  
}
.hossana {
  text-align: center;
}
.designer {
  font-size: 10px;
}